<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
    <property name="show_sql">false</property>

    <property name="resource">https://masttest.stsci.edu/partners/papers</property>

    <property name="hibernate.connection.host">hstdev02.n1data.lan</property>
    <property name="hibernate.connection.port">8300</property>
    <property name="hibernate.connection.database">ehst_dev_3</property>
    <property name="hibernate.connection.username">postgres</property>
    
    <property name="ads.token">Im5Usu3jlOrqERt1ke9RIdmsK3MidqXTTh7LQY4I</property>
    <property name="ads.url">https://api.adsabs.harvard.edu/v1/search/query?q=bibcode:BIBCODEfl=bibcode,title,author,abstract,year,page,volume</property>
    
    <property name="hibernate.default_schema">caom2</property>
    
    <mapping class="esac.archive.ehst.dl.caom2.repo.client.publications.entities.Publication" />
    <mapping class="esac.archive.ehst.dl.caom2.repo.client.publications.entities.Proposal" />

</session-factory>
</hibernate-configuration>